
caption {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

table {
    border-collapse: collapse; /* Une los bordes */
    border: none;
    table-layout: fixed;       /* Ajusta las columnas al contenido */
    margin: auto;
    margin-bottom: 3%;
    width: 50%;
    text-align: center;
    border-color: 1px black;
    border-style: solid;
    box-shadow: 0 8px 12px rgba(73, 67, 67, 0.8); /*los valores están entre el 0.0 y el 1. El 0.0 es el más bajo y el 1 el más alto*/
}

tr:first-of-type {
    font-weight: bold;
    font-size: 18px;
    padding-top: 3%;
    padding-bottom: 3%;
}

tr {
    background-color: lightcyan;
}

td, th {
    padding: 2px 5px;          /* Espacio mínimo dentro de las celdas */
    white-space: nowrap;       /* Evita que se parta el texto en varias líneas */
    border: none;
}

p {
    text-align: center;
    font-size: 18px;
    margin: auto;
    width: 75%;
    margin-bottom: 2%;
}













/* --- MEDIA QUERIES --- */

/* Para tables */
@media (max-width: 768px) {
	
}

/* Para móviles */
@media (max-width: 480px) {
	
}
